<!-- word-game.component.html -->
<div class="score-container">
  <div class="score">Score: {{ score }}</div>
</div>
<div class="score-container">
  <div class="high-score">High Score: {{ highScore }}</div>
</div>
<div class="play-button-container" *ngIf="!isGameStarted">
  <button class="play-button" (click)="startGame()">Play</button>
</div>
<div class="word-stack-container">
  <div class="word-stack">
    <div
      *ngFor="let word of stackedWords"
      class="word"
      [ngClass]="{
        'current-word': word === stackedWords[0],
        word: word !== stackedWords[0]
      }"
    >
      {{ word.word }}
    </div>
  </div>
</div>
<div class="input-container">
  <input
    [(ngModel)]="userInput"
    (input)="onInputChange()"
    placeholder="Type here..."
  />
</div>
<div class="volume-container">
  <input
    class="volume"
    type="range"
    min="0"
    max="1"
    step="0.01"
    [(ngModel)]="musicVolume"
    (input)="setMusicVolume(musicVolume)"
  />
</div>

<div *ngIf="isGameOver" class="game-over">
  <h2>{{ gameOverMessage }}</h2>
</div>
